.policy-page {
  text-align: left;
  padding: 20px 20px; /* Add 20px padding to left and right */
}

.policy-content {
  line-height: 1.8;
  color: var(--text-color); /* Use the text color variable */
    padding: 0 50px; /* Add padding to the content for better readability */
}

.policy-content h1,
.policy-content h2 {
  color: var(--secondary-color); /* Use secondary color for headings */
  margin-bottom: 15px;
}

.policy-content p,
.policy-content ul {
  margin-bottom: 15px;
}

.policy-content a {
  color: var(--primary-color);
  text-decoration: none;
}

.policy-content a:hover {
  text-decoration: underline;
}

.policy-image {
  width: 100%;
  border-radius: 8px;
  margin-top: 20px;
}

.policy-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  padding: 10px; /* Add 10px padding for the table */
}

.policy-content table th,
.policy-content table td {
  border: 1px solid var(--secondary-color);
  padding: 10px;
  text-align: left;
}

.policy-content table th {
  background-color: var(--secondary-color);
  color: #fff;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.floating-button:hover {
  background-color: var(--secondary-color);
}

.return-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.return-button:hover {
  background-color: var(--secondary-color);
}
